# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# database
prisma/dev.db
prisma/dev.db-journal

# local PDFs (too large for git - use R2 in production)
/livros/

# cover images (upload to R2 in production)
# public/capas/

# OS files
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
